**/.ipynb_checkpoints
*.pyc
**/__pycache__

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.ipynb_checkpoints

# IDE/ENV
.vscode/
.venv/

# RL Artifacts
wandb/
run/
runs/
models/
videos/
# MAME gym: copyrighted ROM content + machine save states (ROM-derived) stay out
mame_gym/roms/
mame_states/

# Training artifacts / local logs
logs/
demos/
runs_old/
*.log
mame_gym/robomame.asm
videos/
